<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>-->
  <!-- Во время развертывания проекта библиотеки служб содержимое файла конфигурации необходимо добавить к файлу 
  app.config на узле. Файлы конфигурации для библиотек не поддерживаются System.Configuration. -->
  <system.serviceModel>
    <services>
      <service name="ChatServise.ChatService">
        <host>
          <baseAddresses>
            <add baseAddress = "net.tcp://localhost:8733/Design_Time_Addresses/ChatServise/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Если адрес не задан полностью, он является относительным к вышеуказанному базовому адресу -->
        <endpoint address="ChatService" binding="netTcpBinding" contract="ChatServise.IChatService" />
        <!-- Metadata Endpoints -->
        <!-- Служба использует конечную точку Metadata Exchange для предоставления своего описания клиентам. --> 
        <!-- Эта конечная точка не использует безопасную привязку и должна быть защищена или удалена перед развертыванием -->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, 
          до развертывания задайте следующим параметрам значение "false".-->
          <serviceMetadata />
          <!-- Чтобы получить сведения об исключениях в ошибках для отладки, 
          установите ниже значение TRUE. Перед развертыванием установите значение FALSE, 
           чтобы избежать разглашения сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <connectionStrings>
    <add name="ChatDbEntities" connectionString="metadata=res://*/ChatDBModel.csdl|res://*/ChatDBModel.ssdl|res://*/ChatDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chatservice.database.windows.net;initial catalog=ChatDb;user id=ChatAdmin;password=Qwerty!!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
